/*Colors*/
/*Colors*/
/*Font*/
/*Font*/
/*Font-Style*/
/*Font-Style*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
body {
  background-color: #020438;
  font-family: "Montserrat", sans-serif;
  color: #D6ECFA;
}

.container {
  max-width: 1300px;
}

h1 {
  color: white;
  font-weight: 600;
}

.menu {
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menu button.menubar {
  height: 54px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0;
  border: 1px solid #FF2E63;
  border-radius: 6px;
  color: #FF2E63;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .menu-text {
  display: flex;
  align-items: Center;
}
.menu .menu-text p {
  margin: 0 0 0 17px;
  padding: 0;
}

.content {
  display: flex;
}

.button-content {
  position: Relative;
  width: 30px;
  height: 50px;
}

button.menu {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 2;
}

button.close {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
}

.menu-text {
  width: 200px;
  display: flex;
  margin: 10px;
}

.menu-text p {
  margin: 0 0 0 10px;
}

.main {
  width: 70%;
  margin: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: start;
}
.main h1 {
  font-size: 44px;
  font-weight: 700;
  margin: 0;
}
.main p {
  margin: 7px 0 0 0;
  font-size: 22px;
  font-weight: 300;
}
.main .social-icons {
  display: flex;
  margin: 14px 0;
}
.main .social-icons .social-icon-box:nth-child(2) {
  margin: 0 12px;
}
.main .social-icons .social-icon-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  background-color: #020649;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.main .social-icons .social-icon-box:hover {
  transform: scale(1.2);
  transition: 0.3s;
}
.main .social-icons .social-icon-box a {
  background-color: #020649;
}
.main .social-icons .social-icon-box svg {
  font-size: 20px;
  color: #D6ECFA;
}

.biotext {
  width: 100%;
  min-height: 160px;
  background-color: #020649;
  box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 63px 0 0 0;
  padding: 28px;
}
.biotext p {
  text-align: left;
  font-size: 16px;
  font-style: 400;
  line-height: 2;
}
.biotext p::before {
  content: "/** ";
  color: #FF2E63;
  font-weight: 700;
}
.biotext p::after {
  content: " **/";
  color: #FF2E63;
  font-weight: 700;
}
.biotext .notetext {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.biotext .notetext a {
  text-decoration: none;
}
.biotext .notetext a span {
  font-size: 12px;
  text-align: right;
  color: #FF2E63;
  font-weight: 700;
}

.index-head {
  margin: 46px 0 0 0;
}
.index-head h3 {
  text-align: left;
  color: #FF2E63;
  font-size: 14px;
  font-weight: 400;
}

.works-box {
  min-width: 190px;
  min-height: 140px;
  background-color: #020649;
  box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  transition: 0.3s;
}
.works-box:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.blog-box {
  min-height: 140px;
  border: 1px solid #D6ECFA;
  border-radius: 5px;
  margin: 10px 0 0 0;
  position: relative;
  padding: 19px 24px;
}
.blog-box h6 {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 14px 0;
}
.blog-box p {
  text-align: left;
  font-size: 12px;
  font-weight: 400;
}
.blog-box span {
  position: absolute;
  right: 22px;
  bottom: 17px;
  font-size: 12px;
  color: #FF2E63;
  font-weight: 700;
}

.pop {
  z-index: 999;
  /**position: -webkit-sticky !important;
  position: sticky !important;
  **/
  position: fixed !important;
  top: 85% !important;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 288px;
  height: 100px;
  background-color: #D6ECFA;
  box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.pop p {
  font-size: 16px;
  font-weight: 700;
  color: #020438;
  margin: 0;
}
.pop span {
  font-size: 16px;
  font-weight: 300;
  color: #020438;
  margin: 0;
}
.pop button.pop-close {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #FF2E63;
  border: 0;
  position: absolute;
  right: -15px;
  top: -15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

/*# sourceMappingURL=index.css.map */
