@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
body{
  background-color:$primaryColor;
  font-family: 'Montserrat', sans-serif;
  color:$fourthColor;
}
.container{
  max-width: 1300px;
}
h1{
  color:white;
  font-weight: $fontSemibold;
}
.menu{
  height:84px;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  button.menubar{
    height:54px;
    background-color:transparent;
    outline:none;
    cursor:pointer;
    padding:5px;
    margin:0;
    border:1px solid #FF2E63;
    border-radius:6px;
  }
  .menu-text{
    display:flex;
    align-items:Center;
    p{
      margin:0 0 0 17px;
      padding:0;
    }
  }
}

