/*Colors*/
$primaryColor:#020438;
$secondaryColor:#020649;
$thirdColor:#FF2E63;
$fourthColor:#D6ECFA;
/*Colors*/

/*Font*/
$primaryFont:'Montserrat', sans-serif;
/*Font*/

/*Font-Style*/
$fontLight:300;
$fontRegular:400;
$fontSemibold:600;
$fontBold:700;
/*Font-Style*/